# Gradle
.gradle/
build/
/local.properties
local.properties

# Android Studio
*.iml
.idea/
.cxx/
.externalNativeBuild/
captures/

# Build outputs
*.apk
*.aab
output-metadata.json

# OS / logs
.DS_Store
*.log
*.hprof

# Signing
*.jks
*.keystore

# Firebase (if added later)
google-services.json
